@font-face {
    font-family: 'gobold';
    src: url('gobold_uplow-webfont.woff2') format('woff2'),
         url('gobold_uplow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_hollow';
    src: url('gobold_hollow-webfont.woff2') format('woff2'),
         url('gobold_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.tdv_no.tdv_no {
	color: #b92828;
	text-decoration: line-through;
	pointer-events: none;

}

*{
	font-family: helvetica;
	color: #333333;
}

body{
	background-color: #EFEFEF;
}

.iconitos{
	height: 30px;
	display: inline-block;
	padding-right: 5px;

}


.btn {
	line-height: 40px;
	border: 0;
	text-transform: uppercase;
	font-size: 0.8em;
}

.btn_ok.btn_ok {
	background: #3D449B;
	color: #fff;
	text-transform: uppercase;
}

.btn:hover,
.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    color: #FFF;
    outline: none;
}

.link-a {
	color: #af4c4c;
}

.link-d {
	opacity: 0.8;
	color: #333;
}

.u {
	text-transform: uppercase;
}

a, 
input,
button {
	transition: 0.3s;
}


a:hover, 
input:hover,
button:hover {
	opacity: 0.8;
	text-decoration: none;
}

input,
textarea {
	outline: none;
}

input[type="submit"]:hover {
	color: #fff;
}

.error {
    color: #d02828;
    font-weight: bold;
    border: 1px solid;
    display: inline-block;
    padding: 5px 20px;
}

.exito {
    color: #41a541;
    font-weight: bold;
    border: 1px solid;
    display: inline-block;
    padding: 5px 20px;
}

/* ADMIN */

h4,h5,h6 {	
	text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: 'gobold',sans-serif;
}

h2{
	font-size: 3em;
	text-align: center;
	color: #602A77;
}

img,
video {
	max-width: 100%;
}

header {
	position: relative;
}

header .btn {
	background: transparent;
	color: #fff;
	padding: 10px 0;
	font-size: 14px;
}

header .btn i,
header .btn .caret {
	color: #fff;
	margin-left: 10px;
}

header .dropdown-menu {
    background: #333;
    border-radius: 0;
    margin: 0;
    font-size: 13px;
    padding: 0;
}

header .dropdown-menu > li > a {
    padding: 8px 20px;
}

header .dropdown-menu > li i {
    margin-right: 10px;
	color: #fff;
}

header .dropdown-menu > li a {
    color: #fff;
}

.nav > li > a {
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 35px;
    font-size: 14px;
}

.dropdown-menu > li > a:focus, 
.dropdown-menu > li > a:hover {
    background-color: #424242;
}

.admin {
	background: #2a2f37;
}

.admin header {
	background: #FFF;
	border-bottom: 1px solid #c7c7c7;
}

.admin main {
	background: #f0f0f0;
    padding: 10px;
}

.admin main div[class^='seccion--'] {
	background: #FFF;
	padding: 15px;
	border: 1px solid #c7c7c7;
	min-height: calc(100vh - 90px);
}

.admin main div[class^='seccion--'] input[type=submit] {
	margin-top: 20px;
}

/*ADMIN - ACTIVIDAD*/

.admin .seccion--dashboard.seccion--dashboard {
	padding: 15px 40px;
}

#contadorvideitos span{
	color: #361935;
	font-family: 'gobold';
}

#contadorvideitos p{
	font-size: 6em;
	font-family: 'gobold';
}

#estadistica ul{
	list-style: none;
}

#estadistica li{
	font-size: 1em;
}

#estadistica h3{
	color: #583B97;
}


/*ADMIN - VIDEOS_LISTADO*/

.seccion--videos__title a{
	color: #1D896F;
}

.paginator{
	text-align: right;
}

.paginator li{
	display: inline-block;
	margin: 5px;
}

.paginator li a{
	color: #fff!important;
    font-size: 1em;
    padding: 0 5px;
    background-color: #361935;
    width: 25px;
    height: 29px;
    line-height: 32px;
    display: block;
    font-family: 'gobold';
    text-align: center;
}

.paginator li:hover,
.paginator li .pag_activa{
	background-color: #7A2739;
	text-decoration: none;
}

textarea.form-control {
    height: auto;
    min-height: 200px;
}

select[multiple] {
	width: 100%;
	height: 120px;
	padding: 10px;
}

span.disc {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    line-height: 110%;
    color: darkgrey;
}

/**/

.menu__list {
	margin: 0;
	padding: 10px 0 0;
	display: flex;
    justify-content: space-between;
}

.menu__list__option a {
	color: #FFF;
	display: block;
	padding: 10px 0;
}

.menu__list__option a:hover {
	text-decoration: none;
}

.menu__list__option.border__top {
	border-top: 1px solid #3c3c3c;
}

.menu__list__option i {
	margin-right: 10px;
	color: #686c98;
}

.header__title {
	text-align: center;
}

.header__title a {
	font-family: 'gobold',sans-serif;
	text-transform: uppercase;
	color: #333333;
}

.header__user {
	float: left;
    margin: 38px 0 0 15px;
}

.header__logos {
    float: right;
    margin-right: 15px;
    margin: 10px 22px 10px 0;
}

.section__title {
	display: flex;
	align-items: center;
	margin: 15px 0 15px;
}

.section__title h2,
.section__title a {
	display: inline-block;
	vertical-align: middle;
}

.section__title__action {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #000;
	color: #361935;
}

.section--home--proyecto {
	//text-align: center;
}

.section--home--proyecto h2 {
	text-transform: uppercase;
	margin: 0 0 30px 0;
}

.section--home--videos {
	background: #fff;
	border-top: 1px solid #ddd;
}

.section--home--videos.bottom {
	background: transparent;
}

.section--home--videos h3,
.section--home--videos.bottom h3 {
	color: #333;
	margin: 0 0 20px 0;
}

.section--home--videos.bottom .home__videos__img {
	height: 130px;
}

*[class*="__title"] h2,
.section__title h2 {
	margin: 0;
	color: #7A2739;
}

*[class*="__title"] h3 {
	color: #583B97;
	text-align: center;
}

.seccion--admin-listado .section__title {
	margin-bottom: 30px;
	display: block;
}

.seccion--admin-listado h2 {
	margin: 0;
}

.section__title__back {
	display: inline-block;
	margin-right: 10px;
}

.admin_list {
	border-collapse: separate;
	width: 100%;
	white-space: nowrap;
}

.admin_list__row td{
	vertical-align: middle;
	border-bottom: 1px solid #f3eded;
}

.admin_list__row__name,
.admin_list__head__name,
.admin_list__head__author,
.admin_list__head__date ,
.admin_list__head__tipo,
.admin_list__head__estado,
.admin_list__row__author,
.admin_list__row__date,
.admin_list__row__tipo,
.admin_list__row__estado,
.admin_list__head__comentario {
	padding-left: 15px;
	padding-right: 15px;
}

.admin_list__head__comentario {
	width: 60%;
	white-space: initial;
	padding: 0 50px;
}

.admin_list__row__image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.admin_list__row__actions {
	text-align: center;
}

.admin_list__row__actions i {
	margin: 0 5px;
}

.admin_list__row__actions .activo i {
	color: #369e36;
}

.admin_list__row__actions .inactivo i {
	color: #ca2424;
}


.admin_agregar_form input[type="text"],
.admin_agregar_form textarea {
	width: 100%;
}

.imagenes__item {
	margin-bottom: 10px;
}

.login_form {
    margin: 80px auto;
    width: 30%;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login_form .error,
.login_form .exito {
	display: block;
}

.login_form__row {
	padding: 10px 0;
}

.login_form__row input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}

.create_form h3 {
    color: #3e4044;
    font-size: 15px;
}

/* navbar */

.navbar{
	height: 60px;
}

.navbar-default{
	background-color: #602A77;
	border: none;
	border-radius: 0;
}

.navbar-brand {
    height: 45px;
    padding: 0 15px;
}

.navbar-brand img{
	height: 45px;
	margin-top: 7px;
}

.navbar-nav.navbar-nav > li > a {
    padding: 20px;
    color: #fff;
}

.navbar-nav.navbar-nav > li > a:hover {
	color: #fff;
}

.botonitos img{
	width: 25px;
	height: 25px;
}

#buscadorsin{
	margin-top: 13px;
	width: 300px;
}

#buscadorsin div, #buscadorsin div input{
	width: 300px;
}

/* HOME */

	section[class*="section--home--"] {
		padding: 50px 0;
	}

	.home__videos__img {
		width: 90%;
		height: 165px;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
	}

	.home__videos__img img {
		width: 105%;
		max-width: inherit;
	}

	.home__videos__title {
		color: #361935;
		text-align: center;
		font-size: 1.3em;
		margin-top: 15px;
	}

	.home__videos__title a {
		color: #361935;
	}

	.home__videos__desc {
		text-align: center;
	}

	.section--home--info__video {
		float: left;
		width: 
	}

	.section--home--info__desc {
		float: right;
	}

	.section--home--quote {
		text-align: center;
		background: #7A2739;
		padding: 50px 0;
	}

	.section--home--otros-videos ul {
		margin: 0;
		padding: 0;
	}

	.section--home--otros-videos li {
		list-style: none;
	}

	.section--home--info {
		background: #47B39C;
	}

	.section--home--info__title h3 {
		text-align: left;
		font-size: 2.3em;
		color: #fff;
		margin: 0 0 20px;
		text-transform: uppercase;
	}

	.section--home--info p {
	    color: white;
	    text-transform: uppercase;
	    font-family: 'gobold',sans-serif;
	    font-size: 20px;
	    line-height: 165%;
	}

	.section--home--info video {
		width: 100%;
	}

	.section--home--info iframe {
		width: 100%;
		border: 0;
		height: 320px;
	}

	.section--home--videos__title {
		margin: 0 0 30px 0;
		font-size: 2em;
		text-transform: uppercase;
	}
	


#contenedorHome{
	background-image: url("../images/cover.jpg");
	background-size: cover;
	height: 100vh;
	width: 100%;
	margin-top: -69px;
}

blockquote{
	font-family: 'gobold';
	color: #ecdbdb;
	font-size: 1.4em;
	font-weight: 400;
	margin: 0;
	border: 0;
	padding: 0;
	letter-spacing: 1px;
}

.linki{
	font-family: 'gobold';
	color: #7A2739;
	text-transform: uppercase;
}

.linki:hover{
	color: #361935;
}


/*DETALLE VIDEO*/


	#contenedorVideo{
		background-image: url("../images/cover_mini.jpg");
		background-size: cover;
		padding: 10vw;
		margin-top: -50px;
	}

.section--home--comentarios {
	background: #fdfdfd;
	border-top: 1px solid #ddd;
}

.videito{
	width: 100%;
	margin-bottom: 10px;
}

.idvideito h2{
	margin-top: 0;
	text-align: left;
}

.idvideito ul{
	-webkit-padding-start: 0!important;
	padding: 0;
}

.idvideito ul li{
	display: inline-block;
	margin-right: 20px;
	font-family: 'gobold';
}

.idvideito .desc {
    padding: 15px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.video--info {
    background: #fafafa;
    padding: 25px;
}

.infousuario{
	background-color: #361935;
	padding: 15px;
}

.infousuario h3, .infousuario p{
	color: #EFEFEF;
}

.infousuario h3{
	text-align: left;

}

.infousuario img{
	border-radius: 100px;
	margin-bottom: 20px;
}

.comentarios h3{
	color: #361935;
	font-size: 1.8em;
	margin-bottom: 15px;
	margin-top: 40px;
}

.comentarios h3:first-of-type {
	margin-top: 0;
}

.comentarios .comment {
	padding: 15px 0;
	border-bottom: 1px solid #e0dfdf;
}

.comentarios .comment h4 {
	display: inline-block;
	vertical-align: text-bottom;
	margin: 0;
	color: #7A2739;
}

.comentarios .comment p {
	margin: 20px 0 0 0;
	font-size: 14px;
}

.comentarios .comment span {
	font-size: 12px;
	display: inline-block;
	color: #929292;
	vertical-align: text-bottom;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #ddd;
	font-family: arial;
}

.respoboton{
	color: #EFEFEF;
	background-color: #361935;
	text-align: right;
	padding: 0px 15px;
	margin-top: 10px;
}

.respoboton:hover{
	color: white;
}

.comentarios input, 
.comentarios textarea{
	resize: none;
	width: 100%;
	background-color: #efefef;
	border: none;
	margin-bottom: 20px;
	margin-top: 5px;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.comentarios span{
	font-family: 'gobold';
}

footer {
    background: #602A77;    
    padding: 10px 0;
}

footer p {
	color: white;
    font-size: 12px;
    margin: 0;
}

.seccion--videos {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.seccion--videos__video {
	width: calc(100% - 20px);
	margin: 10px;
	background: #fbfbfb;
}

.seccion--home--otros-videos__video__img a,
.seccion--videos__img a {
	display: block;
	height: 120px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.seccion--videos__img img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.seccion--videos__txt {
	padding: 15px;
}

.seccion--videos__txt h3 {
	margin: 0 0 10px 0;
}

.seccion--videos__txt p {
	margin: 0;
	color: #716969;
}

.seccion--home--otros-videos__ver-todos {
	text-align: right;
	margin-top: 25px;
	margin-right: 10px;
	font-size: 1em;
	margin-bottom: 0;
}

/* TABLET */

/* DESKTOP */

@media screen and (min-width: 1024px){

	.menu__list {
		display: block;
	}

	.header__title {
		margin-left: 15px;
		text-align: left;
		float: left;
	}

	.admin_list__head__image,
	.admin_list__head__author,
	.admin_list__head__date {
		width: 100px;
	}
	.admin_list__head__actions {
		text-align: center;
		width: 75px;
	}

	.seccion--home--otros-videos__ver-todos {
		text-align: right;
		margin-top: 5px;
		margin-right: 10px;
		font-size: 1em;
	}

	.seccion--videos__video {
		width: calc(25% - 20px);
		margin: 10px;
	}

}