/* ADMIN */

img {
	max-width: 100%;
}

.menu__list {
	margin: 0;
	padding: 0;
	display: flex;
    justify-content: space-between;
}

.menu__list__option {
	list-style: none;
}

.header__title {
	text-align: center;
}

.header__user {
	float: right;
	margin-right: 15px;
}

.section__title {
	display: flex;
	align-items: center;
	margin: 15px 0 15px;
}

.section__title h2,
.section__title a {
	display: inline-block;
}

.section__title__action {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #000;
}

.section__title h2 {
	margin: 0;
}

.video_list {
	border-spacing: 0 20px;
	border-collapse: separate;
	width: 100%;
}

.video_list__row__name,
.video_list__head__name {
	padding-left: 15px;
	padding-right: 15px;
}

.video_list__row__actions {
	text-align: center;
}

.video_list__row__actions i {
	margin: 0 5px;
}

.video_agregar_form input[type="text"],
.video_agregar_form textarea {
	width: 100%;
}

.imagenes__item {
	margin-bottom: 10px;
}

.login_form {
	margin: 0 auto;
	width: 300px;
}

.login_form__row {
	padding: 10px 0;
}

.login_form__row input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}

/* TABLET */

/* DESKTOP */

@media screen and (min-width: 1024px){

	.menu__list {
		display: block;
	}

	.header__title {
		text-align: left;
	}

	.video_list__head__image,
	.video_list__head__author,
	.video_list__head__date {
		width: 100px;
	}
	.video_list__head__actions {
		text-align: center;
		width: 75px;
	}

}