@font-face {
    font-family: 'gobold';
    src: url('gobold_uplow-webfont.woff2') format('woff2'),
         url('gobold_uplow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_hollow';
    src: url('gobold_hollow-webfont.woff2') format('woff2'),
         url('gobold_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ADMIN */

h1,h2,h3,h4,h5,h6 {
	font-family: 'gobold',sans-serif;
	text-transform: uppercase;
}

img,
video {
	max-width: 100%;
}

header {
	position: relative;
}

.admin {
	background: #2a2f37;
}

.admin header {
	background: #FFF;
	border-bottom: 1px solid #c7c7c7;
}

.admin main {
	background: #f0f0f0;
	padding: 10px 20px;
}

.admin main div[class^='seccion--'] {
	background: #FFF;
	padding: 15px;
	border: 1px solid #c7c7c7;
}

.menu__list {
	margin: 0;
	padding: 10px 0 0;
	display: flex;
    justify-content: space-between;
}

.menu__list__option {
	list-style: none;
	padding: 10px;
}

.menu__list__option a {
	color: #FFF;
}

.menu__list__option i {
	margin-right: 10px;
}

.header__title {
	text-align: center;
}

.header__user {
	float: left;
    margin: 38px 0 0 15px;
}

.header__logos {
    float: right;
    margin-right: 15px;
    margin: 10px 22px 10px 0;
}

.section__title {
	display: flex;
	align-items: center;
	margin: 15px 0 15px;
}

.section__title h2,
.section__title a {
	display: inline-block;
}

.section__title__action {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #000;
	color: #3C439B;
}

*[class*="__title"] h2,
.section__title h2 {
	margin: 0;
	color: #9E3838;
}

*[class*="__title"] h3 {
	color: #583B97;
	text-align: center;
}

.section__title__back {
	display: inline-block;
	margin-right: 10px;
}

.video_list {
	border-spacing: 0 20px;
	border-collapse: separate;
	width: 100%;
}

.video_list__row__name,
.video_list__head__name {
	padding-left: 15px;
	padding-right: 15px;
}

.video_list__row__actions {
	text-align: center;
}

.video_list__row__actions i {
	margin: 0 5px;
}

.video_agregar_form input[type="text"],
.video_agregar_form textarea {
	width: 100%;
}

.imagenes__item {
	margin-bottom: 10px;
}

.login_form {
	margin: 0 auto;
	width: 300px;
}

.login_form__row {
	padding: 10px 0;
}

.login_form__row input {
	width: 100%;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}

.create_form h3 {
	color: #3C439B;
	font-size: 13px;
}

/* HOME */

	section[class*="section--home--"] {
		padding: 50px 0;
	}

	.home__videos__img {
		width: 250px;
		height: 100px;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
	}

	.home__videos__img img {
		max-width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.home__videos__title {
		color: #3C439B;
		text-align: center;
	}

	.home__videos__desc {
		text-align: center;
	}

	.section--home--info__video {
		float: left;
		width: 
	}

	.section--home--info__desc {
		float: right;
	}

	.section--home--quote {
		text-align: center;
	}

	.section--home--otros-videos ul {
		margin: 0;
		padding: 0;
	}

	.section--home--otros-videos li {
		list-style: none;
	}

	.section--home--info__title h3 {
		text-align: left;
	}

/* HOME */

/* TABLET */

/* DESKTOP */

@media screen and (min-width: 1024px){

	.menu__list {
		display: block;
	}

	.header__title {
		margin-left: 15px;
		text-align: left;
		float: left;
	}

	.video_list__head__image,
	.video_list__head__author,
	.video_list__head__date {
		width: 100px;
	}
	.video_list__head__actions {
		text-align: center;
		width: 75px;
	}

}